@media only screen and (min-width: 450px) {
    /* -= ========== MESSY TEMP HACK ========== =- */
    .snapVertical {
        scroll-snap-type: y mandatory;
    }
    .snapVerticalComponent {
        height: 100vh;
        scroll-snap-align: center;
        margin: 2vw;
    }
    #indexFolders {
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    #indexFolders .folderIcon {
        height: 20vw;
        padding: 5px;
    }
}

/* This is where the image overlaps the text */
@media only screen and (min-width: 540px) {
    #indexIntroduction .glitchImageContainer {
        display: inline;
    }
}