@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto&family=Rubik+Glitch&family=Ubuntu+Mono&display=swap');
:root {
    /* COLOR CONSTANTS */
    --bgColor: #030006;
    --glitchColor1: #fc00ff;
    --glitchColor2: #00ed75;
    --glitchColor3: #ed7500;
    --glitchColor4: #00fffc;

    /* FONT CONSTANTS */
    --Montserrat: "Montserrat";
    --Roboto: "Roboto";
    --RubikGlitch: "Rubik Glitch";
    --UbuntuMono: "Ubuntu Mono";
}

/* -= ========== TABLE OF CONTENTS ========== =- */
/* -= = GENERAL - General webapge rules          */
/* -= = GENERIC CLASSES - Reusable classes       */
/* -= = CONSTANT CLASSES - Used on all pages     */
/* -= = INDEX - Hompage CSS                      */
/* -= = ANIMATION - Classes for animations       */
/* -= = KEYFRAMES - Defined animations           */
/* -= ======================================= =- */

/* -= ========== GENERAL ========== =- */
body {
    color: white;
    background-color: var(--bgColor);
    margin: 0;
}
::selection {
    color: var(--bgColor);
    background: white;
}

/* -= ========== GENERIC CLASSES ========== =- */
/* -~ --- SNAP VERTICAL                 --- ~- */
/* -~ --- FONT CLASSES                  --- ~- */
/* -~ --- FOLDER ICON                   --- ~- */

/* -~ --- SNAP VERTICAL --- ~- */
.snapVertical {
    overflow: scroll;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
    overflow-x: hidden;
}
.snapVerticalWrapper{
    display: flex;
    flex-direction: column;
}
.snapVerticalComponent{
    height: 97vh; 
    scroll-snap-align: center;
    margin: 2vh;
}
.snapVerticalComponent:first-child {
    margin-top: 10vh;
}

/* -~ --- FONT CLASSES --- ~- */
.montserrat {
    font-family: var(--Montserrat);
}
.roboto {
    font-family: var(--Roboto);
}
.rubikGlitch {
    font-family: var(--RubikGlitch);
}
.ubuntuMono {
    font-family: var(--UbuntuMono);
}

/* -~ --- FOLDER ICON --- ~- */
.folderIcon {
    text-align: center;
}
.folderIcon a {
    text-decoration: none;
    color: white;
}
.folderIcon img {
    width: 95%;
    transition: .5s;
}
.folderIcon:hover img {
    transform: scale(1.05);
}

/* -~ --- SLIDESHOW --- ~- */
.slideShowContainer {
    position: relative;
    margin: auto;
}
.slide {
    display: none;
}
.prev,
.next {
    cursor: pointer;
    position: absolute;
    display:flex;
    justify-content: center;
    align-items: center;
    top: 50%;
    width: 1rem;
    height: 1rem;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 50%;
    user-select: none;
    border: 3px solid var(--bgColor)
}
.next {
    right: 0;
}
.prev:hover, .next:hover {
    border-color: white;
}

/* -~ --- ALIGNMENT CLASSES --- ~- */
.centerVertical {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* -= ========== CONSTANT CLASSESS ========== =- */
/* -~ --- NAV BAR --- ~- */
/* -~ --- FOOTER --- ~-  */

/* -~ --- NAV BAR --- ~- */
/* This gradient will expand out to back the options on the navbar when the navigation is clicked. */
/* background: linear-gradient(90deg, rgba(2, 0, 36, 0) 0%, rgba(7, 0, 14, 0.8076272745426296) 15%, rgba(3, 0, 6, 1) 100%); */
nav {
    overflow: hidden;
    margin: 0 auto;
    width: 100%;
    position: fixed;
    top: 0;
}
nav ul {
    list-style: none;
    padding-left: 0;
    text-align: right;
    padding: 5px;
    padding-right: 10px;
}

/* -~ --- FOOTER --- ~- */


/* -= ========== INDEX ========== =- */
/* -~ --- BACKGROUND          --- ~- */
/* -~ --- INDEX INTRODUCTION  --- ~- */
/* -~ --- INDEX WELCOME       --- ~- */
/* -~ --- INDEX HIGHLIGHTS    --- ~- */
/* -~ --- INDEX SKILLS        --- ~- */


/* -~ --- BACKGROUND --- ~- */
.background-container {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 100%;
    perspective: 10px;
}
.background-container::after {
    content: ' ';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: translateZ(-1px) scale(1.5);
    background-size: 100%;
}
.stars {
    /* Stars from Anastasia Goodwin - https://codepen.io/agoodwin */
    background: transparent url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/1231630/stars.png) repeat;
    opacity: .60;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: block;
    z-index: -10;
    transform-style: preserve-3d;
    
}

/* -~ --- INDEX INTRODUCTION --- ~- */
#indexIntroduction {
text-align: right;
}
#indexIntroduction h1 {
    font-size: 6rem;
    letter-spacing: 3px;
}
#fixLetterRight {
    position: relative;
    left: .6rem;

}
#indexIntroduction p {
    font-size: 3rem;
}
#indexIntroduction .glitchImageContainer {
    float: left;
    left: 10%;
    bottom: 40%;
}
#indexIntroduction .glitchImageContainer img{
    width: 100%;
    height: 100%;
}
#indexGlitchTriangles {
    max-width: 33vw;
}

/* -~ --- INDEX WELCOME --- ~- */
#indexWelcome {
    position: relative;
}
#indexWelcome h2 {
    font-size: 2rem;
}
#indexWelcome p {
    position: absolute;
    font-size: 1.5rem;
    bottom: 2vh;
    right: 2vh;
}
#indexCirclesContainer {
    height: 100%;
    position: relative;
    margin-left: 25%;
    max-width: 400px;
    max-height: 400px;
}
#indexCirclesContainer img {
    position: absolute;
    width: 100%;
}
/* animation: glitchImg2 37s infinite linear alternate-reverse; */
#rotImg1 {
    animation: rotating 35s linear reverse infinite;
}
#GI3 {
    animation: glitchRotImg1 35s linear reverse infinite;
    opacity: .3;
}
#rotImg2 {
    animation: rotating 40s linear infinite;
}
#GI4 {
    animation: glitchRotImg2 40s linear infinite;
    opacity: .2;
}
#rotImg3 {
    animation: rotating 25s linear reverse infinite;
}
#GI5 {
    animation: glitchRotImg1 25s linear reverse infinite;
    opacity: .4;
}
#rotImg4 {
    animation: rotating 49s linear infinite;
}
#GI6 {
    animation: glitchRotImg2 49s linear infinite;
    opacity: .3;
}

/* -~ --- INDEX HIGHLIGHTS --- ~- */
#indexFolders {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#indexFolders .folderIcon {
    height: 20vh;
    padding: 5px;
}
#indexFolders .folderIcon img {
    height: 20vh;
}

/* -~ --- INDEX SKILLS --- ~- */
#indexSkills h2{
    font-size: 2rem;
}
#indexSkills .slideShowContainer {
    width: 95%;
    margin: auto;
}
#indexSkills.slideShowContainer.slide {
    width: 100%;
    display: flex;
}
.indexSlideTextContainer {
    padding: 3px;
    width: 60%;
    margin: 0 auto;
}
.indexSlideTextContainer h3{
    margin: 0;
    font-size: 3rem;
}


/* -= ========== ANIMATION CLASSES ========== =- */
/* -~ --- GLITCH EFFECT TEXT              --- ~- */
/* -~ --- TWINKLE CLASSES                 --- ~- */
/* -~ --- GLITCH IMAGES                   --- ~- */

/* -~ --- GLITCH EFFECT TEXT --- ~- */
.glitch {
    position: relative;
    color: #fefee2;
    letter-spacing: -4px;
    text-shadow: 0.05em 0 0 var(--glitchColor4), -0.03em -0.04em 0 var(--glitchColor1),
        0.025em 0.04em 0 var(--glitchColor2);
    animation: glitch 3s infinite;
    top: 0;
    left: 0;
}
.glitch::before, .glitch::after {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
}
.glitch::before {
    animation: glitch 2.25s infinite;
    clip-path: polygon(0 0, 100% 0, 100% 35%, 0 35%);
    transform: translate(-0.04em, -0.03em);
    opacity: 0.75;
}
.glitch::after {
    animation: glitch 1.45s infinite;
    clip-path: polygon(0 65%, 100% 65%, 100% 100%, 0 100%);
    transform: translate(0.04em, 0.03em);
    opacity: 0.75;
}

/* -~ --- TWINKLE CLASSES --- ~- */
.twinkle {
    /* Twinkles are boxes from Mohammad Abdul Mohaiman - https://codepen.io/mohaiman */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -9;
}
.twinkle li {
    position: fixed;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    width: 30vw;
    height: 30vw;
    background: radial-gradient(#030006fe, #03000658);
    animation: twinkle 25s linear infinite;
    bottom: -150px;
    border-radius: 50%;

}
.twinkle li:nth-child(1) {
    left: -5%;
    animation-delay: 18s;
    animation-duration: 25s;
}
.twinkle li:nth-child(2) {
    left: 10%;
    animation-delay: 2s;
    animation-duration: 39s;
}
.twinkle li:nth-child(3) {
    left: 20%;
    animation-delay: 6s;
    animation-duration: 74s;
}
.twinkle li:nth-child(4) {
    left: 30%;
    animation-delay: 0s;
    animation-duration: 50s;
}
.twinkle li:nth-child(5) {
    left: 40%;
    animation-delay: 9s;
    animation-duration: 61s;
}
.twinkle li:nth-child(6) {
    left: 50%;
    animation-delay: 16s;
    animation-duration: 34s;
}
.twinkle li:nth-child(7) {
    left: 60%;
    animation-delay: 11s;
    animation-duration: 97s;
}
.twinkle li:nth-child(8) {
    left: 70%;
    animation-delay: 7s;
    animation-duration: 33s;
}
.twinkle li:nth-child(9) {
    left: 80%;
    animation-delay: 19s;
    animation-duration: 20s;
}
.twinkle li:nth-child(10) {
    left: 90%;
    animation-delay: 6s;
    animation-duration: 54s;
}

/* -~ --- GLITCH IMAGES --- ~- */
.glitchImageContainer {

      position:relative;
      text-align: left;
      display: inline;
}
.glitchImage {
    position: relative;
}
.glitchImageB,
.glitchImageA {
    position: absolute;
    left: 0;
    right: 0;
    background: var(--bgColor);
    background-color: var(--bgColor);
}
.glitchImageB {
    left: 5px;
    opacity: .2;
    animation: glitchImg2 37s infinite linear alternate-reverse;
}
.glitchImageA {
    left: -5px;
    opacity: .5;
    animation: glitchImg1 48s infinite linear alternate-reverse;
}
.glitchJump1 {
    right: 10vw;
}
.glitchJump2 {
    left: 10vw;
}

/* -~ --- STANDARD ROTATION CLASS --- ~- */
.rotating {
    animation: rotating 2s linear infinite;
}

/* -~ --- FADE RIGHT CLASSES --- ~- */
.fadeRight {
    opacity: 0;
}
.fadeRightA {
    animation: fadeRight 2s ease-out;
}

/* -~ --- FADE LEFT CLASSES --- ~- */
.fadeLeft {
    opacity: 0;
}
.fadeLeftA {
    animation: fadeLeft 2s ease-out;
}

/* -= ========== KEYFRAMES ========== =- */
/* -~ --- GLITCH TEXT --- ~- */
@keyframes glitch {
    0% {
        text-shadow: 0.05em 0 0 var(--glitchColor4), -0.03em -0.04em 0 var(--glitchColor1),
            0.025em 0.04em 0 var(--glitchColor2);
    }
    15% {
        text-shadow: 0.05em 0 0 var(--glitchColor4), -0.03em -0.04em 0 var(--glitchColor1),
            0.025em 0.04em 0 var(--glitchColor2);
    }
    16% {
        text-shadow: -0.05em -0.025em 0 var(--glitchColor4), 0.025em 0.035em 0 var(--glitchColor1),
            -0.05em -0.05em 0 var(--glitchColor2);
    }
    49% {
        text-shadow: -0.05em -0.025em 0 var(--glitchColor4), 0.025em 0.035em 0 var(--glitchColor1),
            -0.05em -0.05em 0 var(--glitchColor2);
    }
    50% {
        text-shadow: 0.05em 0.035em 0 var(--glitchColor4), 0.03em 0 0 var(--glitchColor1),
            0 -0.04em 0 var(--glitchColor2);
    }
    99% {
        text-shadow: 0.05em 0.035em 0 var(--glitchColor4), 0.03em 0 0 var(--glitchColor1),
            0 -0.04em 0 var(--glitchColor2);
    }
    100% {
        text-shadow: -0.05em 0 0 var(--glitchColor4), -0.025em -0.04em 0 var(--glitchColor1),
            -0.04em -0.025em 0 var(--glitchColor2);
    }
}

/* -~ --- GLITCH IMAGES --- ~- */
@keyframes glitchImg1 {
    0% {
        clip-path: inset(40% 0 61% 0);
    }

    20% {
        clip-path: inset(92% 0 1% 0);
    }

    40% {
        clip-path: inset(43% 0 1% 0);
    }

    60% {
        clip-path: inset(1% 0 58% 0);
    }

    80% {
        clip-path: inset(54% 0 7% 0);
    }

    100% {
        clip-path: inset(58% 0 43% 0);
    }
}

@keyframes glitchImg2 {
    0% {
        clip-path: inset(92% 0 1% 0);
    }
    20% {
        clip-path: inset(54% 0 7% 0);
    }
    40% {
        clip-path: inset(25% 0 58% 0);
    }
    60% {
        clip-path: inset(1% 0 43% 0);
    }
    80% {
        clip-path: inset(40% 0 61% 0);
    }
    100% {
        clip-path: inset(43% 0 1% 0);
    }
}

/* -~ --- TWINKLE EFFECT --- ~- */
@keyframes twinkle {
    0% {
        transform: translateY(0) rotate(0deg);
    }

    100% {
        transform: translateY(-1000px) rotate(720deg);
    }
}

/* -~ --- FULL ROTATION--- ~- */
@keyframes rotating {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

/* -~ --- ROTATING AND GLITCHING --- ~- */
@keyframes glitchRotImg1 {
    0% {
        clip-path: inset(92% 0 1% 0);
        transform: rotate(0deg)
    }
    20% {
        clip-path: inset(54% 0 7% 0);
    }
    40% {
        clip-path: inset(25% 0 58% 0);
    }
    60% {
        clip-path: inset(1% 0 43% 0);
    }
    80% {
        clip-path: inset(40% 0 61% 0);
    }
    100% {
        clip-path: inset(43% 0 1% 0);
        transform: rotate(360deg);
        }
}
@keyframes glitchRotImg2 {
    0% {
        clip-path: inset(92% 0 1% 0);
        transform: rotate(0deg);
    }
    20% {
        clip-path: inset(54% 0 7% 0);
    }
    40% {
        clip-path: inset(25% 0 58% 0);
    }
    60% {
        clip-path: inset(1% 0 43% 0);
    }
    80% {
        clip-path: inset(40% 0 61% 0);
    }
    100% {
        clip-path: inset(43% 0 1% 0);
        transform: rotate(360deg);
    }
}

/* -~ --- FADE IN RIGHT --- ~- */
@keyframes fadeRight {
    0% {
        opacity: 0;
        transform: translateX(20px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

/* -~ --- FADE IN LEFT --- ~- */
@keyframes fadeLeft {
    0% {
        opacity: 0;
        transform: translateX(-20px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}